
#loading_Maindiv{
    width: 100vw;
    height: 100vh;
    background-color:currentcolor;
    overflow: hidden;
    z-index: 1122;
    position: fixed;
}

#loading_Centered_Div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color:white;
  box-shadow: rgb(0 0 0 / 50%) 0px 2px 15px 0px;
  background-image: linear-gradient(125deg, rgba(134, 121, 249, 0.05), rgba(113, 255, 151, 0.05));
}

#loading_loader_div{
    position: absolute;
    width: 6.5%;
    height: 14%;
}

#loading_loader1 {
  position: absolute;
  top: 0;
  left: 0%;
  animation-name: rotate-s-loader1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes rotate-s-loader1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading_loader2 {
    position: absolute;
    right: -10%;
    top: -11%;
    animation-name: rotate-s-loader2;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes rotate-s-loader2 {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(-360deg);
      }
}

#loading_loader3 {
      position: absolute;
      left: 31%;
      bottom: -3%;
      animation-name: rotate-s-loader3;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-timing-function: linear;
}

@keyframes rotate-s-loader3 {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(-360deg);
      }
  }

.dashTextImg {
  width: 28%;
  position: absolute;
  top: 45%;
  left: 36%;
} 

#loading_textArea {
  position: relative;
  font-size: 1.2vw;
  top: 12%;
  left: 2%;
}